@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Satoshi', sans-serif;
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 18px;
}

body::-webkit-scrollbar,body::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 6px solid transparent;

}

body::-webkit-scrollbar-thumb {
	border-radius: 30px;
	color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 10px;
}

.menu-list {
  overflow-y: scroll;
}

.menu-list::-webkit-scrollbar {
  display: none;
}

.animated-gradient {
  animation: flow 10s ease-in-out infinite;
  background: radial-gradient(#2980b9, #6dd5fa);
  background-size: 50%;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.blogcontent h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
}

.blogcontent h3 {
  font-size: 3rem;
  font-weight: 500;
  margin: 1rem 0;
}

.blogcontent h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
}

.blogcontent img {
  margin: 2rem 0;
}

.blogcontent p {
  margin-bottom: 1rem;
}

.blogcontent a {
  color: #4934eb;
  font-weight: 600;
}